<h1>Discord 2.0</h1>
<h2>Bienvenido, <span id="username-display"></span>!</h2>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="messagesLogs"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>